# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/
.Python

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Test and coverage
.pytest_cache/
.coverage
*.cover
.hypothesis/
nosetests.xml
coverage.xml
*.coveragerc
.tox/
.cache/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log
*.out

# Config files
*.env
.env.*
secrets.yaml
